/* CONTACT PAGE */
/* THIS STYLESHEET SHOULD BE INTEGRATED INTO STYLE.CSS */

/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* css variables */
:root {
  --dark-primary-background: #002436;
  --light-primary-background: #f1f1f1;
  --light-text-color: #fff;
  --dark-text-color: #333;
  --main-content-padding: 2.5%;
}

/*UTILITY CLASSES */

/* ALL PARAGRAPHS W/ class='lead'*/
p.lead {
  font-size: 3rem;
}

/* NAVBAR */
.navbar-dark {
  background: var(--dark-primary-background);
}

/* nav link hover effect */
ul a:hover {
  border-bottom: 1px solid #f2f2f2;
  color: var(--dark-text-color);
}



/* CONTACT US + CONTACT FORM */
#contactUs {
  background: var(--light-primary-background);
  color: var(--dark-text-color);
  padding: var(--main-content-padding);
}

#contactUs .container {
  display: flex;
  flex-direction: column;
  /* order: 4; */
  /* border: 1px solid gold; */
  width: 90%;
}

#contactUs form,
textarea,
#contactUs button {
  width: 100%;
}

li {
  list-style-type: none;
}

div#contactHeader {
  text-align: center;
}

div#contactHeader p{
  width: 50%;
  margin: auto;
}


#aboutAmtrak .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#aboutAmtrak {
  background: var(--light-primary-color);
  width: 100%;
  height: 65vh;
  padding: 2.5%;
}

#aboutAmtrak p {
  color: var(--dark-primary-color);
}



/* FOOTER */
#main-footer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width:100%;
  background: #42525a;
  text-align : center;
  color: #fff ;
  min-height: 20rem;                                 
}


@media (min-width: 768px) {
  #main-footer {
    flex-direction: initial;
    align-items: center;
  }
}

